.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
}

.backToHome {
  margin: 3rem 0 0;
}

.social{
  display: flex;
  align-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2em auto;
}

.social svg{
  width: 20px;
  height: 20px;
}

.Twitter{
  fill:#1DA1F2;
}

.GitHub{
  fill:#f5f5f5;
}

.Instagram{
  fill:#E4405F;
}

.Behance {
  fill:#1769FF;
}

.Flickr{
  fill:#0063DC;
}

.LinkedIn{
  fill:#0A66C2;
}

.social>a{
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0 1em 0 1em;
}



.scrollToTop{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  color: #ffffff;
  text-decoration: none;
}

.scrollToTop:hover {
  text-decoration: none;
  cursor: pointer;
}