.root {
    --main-bg: rgb(255, 255, 255);
    --secondary-bg: rgb(255, 255, 255);
    --main-txt: rgb(0, 0, 0);
}
@media (prefers-color-scheme: dark) {
    .root {
        --main-bg: rgb(0, 0, 0);
        --secondary-bg: rgb(0, 0, 0);
        --main-txt: rgb(204, 204, 204);
    }
    .video{
        filter:invert();
    }
    .FindmeeCover{
        filter: brightness(0.8);
    }
}

.main{
    composes: root;
    background-color: var(--main-bg);
    width: 100vw;
    height: 100vh;
}

    .videoSection{
        composes: root;
        background-color: var(--main-bg);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

        .video{
            composes: root;
            width: calc(100vw - 100px)!important;
            height: calc(100vh - 200px)!important;
            margin: 100px 50px;
            background-image: url('data:image/svg+xml;utf8,<svg id="aeb0a3f9-d114-4a3c-b3e8-a9bfd83748e3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="820" height="880" viewBox="0 0 820 880"><rect x="112.362" y="19.055" width="595.276" height="841.89" transform="translate(26.073 -22.926) rotate(3.308)"/></svg>');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

    .fixedTexts{
        composes: root;
        position: fixed;
        font-size: 1.4em;
        margin: 0.4em;
        padding: 0;
        box-sizing: border-box;
        color: var(--main-txt);
        font-family: tuppence,serif;
        font-weight: 400;
        line-height: 1em;
        font-style: normal;
        font-variant-ligatures: common-ligatures,contextual,discretionary-ligatures,diagonal-fractions,lining-nums;
        -moz-font-feature-settings: "liga", "clig","calt","dlig","frac","lnum";
        -webkit-font-feature-settings: "liga", "clig","calt","dlig","frac","lnum";
        font-feature-settings: "liga", "clig","calt","dlig","frac","lnum";

        /* font-variant-numeric: ordinal;
        -moz-font-feature-settings: "ordn";
        -webkit-font-feature-settings: "ordn";
        font-feature-settings: "ordn"; */
    }

        .MangleKuo{
            composes: fixedTexts;
            left: 0;
            top: 0;
            line-height: 0.5em;
            font-weight: 700;
        }
            .moon{
                background-color: #fff;
                width: 0.2em;
                height: 0.2em;
                position: absolute;
                right: -10px;
                top: 0;
                border-radius: 100px;
            }
            .moon::after{
                content: ' ';
                background-color: #fff;
                width: 0.2em;
                height: 0.2em;
                position: absolute;
                right: 0px;
                top: 0px;
                border-radius: 100px;
                transition: transform;
            }

            @media (prefers-color-scheme: dark) {
                .moon::after{
                    background-color: #000;
                    transform: translate(-2px,-1px);
                }
            }

        .ThingsIdid{
            composes: fixedTexts;
            right: 0;
            top: 0;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
        }

        .ThingsIwrote{
            composes: fixedTexts;
            left: 0;
            bottom: 0;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }

        .Findmee{
            composes: fixedTexts;
            right: 0;
            bottom: 0;
        }

    .FindmeeCover{
        composes: root;
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary-bg);
        background-color: #AA0000;
        position: fixed;

        overflow: hidden;
        clip: rect(auto, auto, auto, auto);
        /* background: url(/images/SocialBGV2@0.5x.jpg) no-repeat; */
        background: #AA0000 url(/images/SocialCloseUp_P3_2000_P80.jpg) no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover; 
        border-radius: 400px 0px 0px 0px;
    }

    @media (min-width: 1500px) {
        .FindmeeCover{
            background: #AA0000 url(/images/SocialCloseUp_P3_4000_P80.jpg) no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: cover; 
        }
    }

    .FindmeeCover.closed{
        left: 100vw;
        top: 100vh;
        transition: left cubic-bezier(0.4, 0.14, 1, 1) 1000ms, top cubic-bezier(0.4, 0.14, 1, 1) 1000ms;
        /* left: 0; top: 0;
        transform: translate(100%,100%);
        transition: transform cubic-bezier(0.4, 0.14, 1, 1) 1000ms; */

    }

    .FindmeeCover.open{
        left: 0;
        top: 0;
        transition: left cubic-bezier(0, 0, 0.3, 1) 600ms, top cubic-bezier(0, 0, 0.3, 1) 600ms;
        /* left: 0; top: 0;
        transform: translate(0%,0%);
        transition: transform cubic-bezier(0, 0, 0.3, 1) 600ms;  */

    }





        .findMeContentWrapper{
            composes: root;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }


            .findMeContent {
                composes: root;
                padding: 0;
                /* overflow-x: hidden; */
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                
            }

                .findMeContent a{
                    padding: 0px;
                    margin: 1.5em 0;
                    /* display: flex; */
                    /* color: var(--main-txt);
                    text-shadow: 
                    #fff 0px 0px 2px,
                    #fff 0px 0px 100px; */
                    color: rgb(255, 255, 255);
                    color: color(display-p3 1 1 1);
                    /* text-shadow: 
                    #fff 0px 0px 2px,
                    #fff 0px 0px 6px,
                    #fff 0px 0px 15px; */
                    font-family: tuppence,serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 1.2em;
                    text-decoration: none;
                    flex: 0 1 800px; /*  No stretching: */
                    margin: 0.5em 2em 0.1em 4em;
                    text-align: right;
                }

                .findMeContent a:hover{
                    text-shadow: 
                    #fff 0px 0px 2px,
                    #fff 0px 0px 6px,
                    #fff 0px 0px 15px,
                    #fff 0px 0px 2px,
                    #fff 0px 0px 4px,
                    #fff 0px 0px 10px;

                }
                .findMeContent a:active{
                    text-shadow: 
                    #fff 0px 0px 2px,
                    #fff 0px 0px 6px;

                }

                @media (min-width: 1500px) {
                    .findMeContent a{
                        flex: 0 1 1200px; /*  No stretching: */
                    }
                }

                @media (min-width: 2300px) {
                    .findMeContent a{
                        flex: 0 1 2000px; /*  No stretching: */
                    }
                }

                @media (min-width: 3900px) {
                    .findMeContent a{
                        flex: 0 1 3800px; /*  No stretching: */
                    }
                }

                @media (min-width: 7600px) {
                    .findMeContent a{
                        flex: 0 1 7000px; /*  No stretching: */
                    }
                }


                    .type {
                        order: 1;
                        /* background-color: #ddd; */
                    }
                    
                    .tag {
                        order: 3;
                        /* background-color: #ddd; */
                    }
                    .dot {
                        composes: root;
                        /* flex-grow: 1;
                        order: 2; */
                        height: 1em;
                        /* border-bottom: double 4px var(--main-txt); */
                        margin: 0 0.5em;
                    }


    .z-0{
        z-index: 0;
    }
    .z-1{
        z-index: 100;
    }
    .z-2{
        z-index: 200;
    }
    .z-3{
        z-index: 300;
    }
    .z-4{
        z-index: 400;
    }
    .z-5{
        z-index: 500;
    }
    .z-6{
        z-index: 600;
    }
    .z-7{
        z-index: 700;
    }



@media (min-width: 1500px) {
    .main{
        font-size: 24px;
    }
    .FindmeeCover{
        border-radius: 600px 0px 0px 0px;
    }

}

@media (min-width: 2300px) {
    .main{
        font-size: 32px;
    }
    .FindmeeCover{
        border-radius: 800px 0px 0px 0px;
    }
}

@media (min-width: 3900px) {
    .main{
        font-size: 48px;
    }
    .FindmeeCover{
        border-radius: 1200px 0px 0px 0px;
    }
}

@media (min-width: 7600px) {
    .main{
        font-size: 64px;
    }
    .FindmeeCover{
        border-radius: 1600px 0px 0px 0px;
    }
}