.root {
    --main-bg: rgb(255, 255, 255);
    --secondary-bg: rgb(255, 255, 255);
    --main-txt: rgb(0, 0, 0);
}

.main{
    composes: root;
    background-color: var(--main-bg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.whiteBG{
    composes: root;
    background-color: var(--main-bg);
    width: 100vw;
    height: 100vh;
}

.video{
    composes: root;
    width: calc(100vw - 100px)!important;
    height: calc(100vh - 320px)!important;
    margin: 140px 50px;
    background-image: url('data:image/svg+xml;utf8,<svg id="aeb0a3f9-d114-4a3c-b3e8-a9bfd83748e3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="820" height="880" viewBox="0 0 820 880"><rect x="112.362" y="19.055" width="595.276" height="841.89" transform="translate(26.073 -22.926) rotate(3.308)"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.replay{
    composes: root;
    color: var(--main-txt);
    text-align: center;
}

.fixedTexts{
    composes: root;
    position: fixed;
    font-size: 2em;
    margin: 0.4em;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-txt);
    font-family: tuppence,serif;
    font-weight: 700;
    font-style: normal;

    z-index: 100;

}

.topLeft{
    composes: fixedTexts;
    left: 0;
    top: 0;
    line-height: 0.5em;
}

.bottomRight{
    composes: fixedTexts;
    right: 0;
    bottom: 0;
    line-height: 1em;
    font-weight: 400;
    z-index: 150;
}

.topRight{
    composes: fixedTexts;
    right: 0;
    top: 0;
    line-height: 1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-weight: 400;
}

.bottomLeft{
    composes: fixedTexts;
    left: 0;
    bottom: 0;
    line-height: 1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 400;
}


.overlay{
    composes: root;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-bg);
    position: fixed;
    z-index: 110;
    top: 0;
    overflow: hidden;
    clip: rect(auto, auto, auto, auto);
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

.closed{
    composes: root;
    left: 100vw;
    transition: left cubic-bezier(0.4, 0.14, 1, 1) 1000ms;

}

.open{
    composes: root;
    left: 0;
    transition: left cubic-bezier(0, 0, 0.3, 1) 600ms;

}





.findMeContentWrapper{
    composes: root;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.findMeContent{
    composes: root;
    position: fixed;
    top: 50%;
    left: 50%;
    /* margin-left: -200px; */
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    color: var(--main-txt);
    font-family: tuppence,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.findMeContent svg{
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.findMeContent>a{
    padding: 0px;
    margin: 2em 0;
    display: flex;
    color: var(--main-txt);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
    text-decoration: none;
    font-size: 0.4em;
}


.findMeContent>a:first-child{
    margin-top: 0;
}


.Twitter{
fill:#1DA1F2;
}

.GitHub{
fill:#333;
}

.Instagram{
fill:#E4405F;
}

.Behance {
fill:#1769FF;
}

.Flickr{
fill:#0063DC;
}

.LinkedIn{
fill:#0A66C2;
}